<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <script src="basket.js"></script>
    <title>Webdevkin. Интернет-магазин. Javascript</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>



<body>
    <div class="container">
        <h2>Webdevkin. Интернет-магазин. Модульный Javascript</h2>
        <br>
        <ul class="nav nav-pills">
            <li><a href="basket1.html">Каталог</a></li>
            <li class="active"><a rel="nofollow" href="cart.html">Корзина<span id="total-cart-count"
                        class="badge"></span></a></li>
        </ul>
        <br>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cart">
                    <tr>
                        <td colspan="6"><img src="img/loading.gif" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>Итого: <span id="total-cart-summa">0</span> руб.</div>
        <br>
        <button id="order" class="btn btn-info">Оформить заказ</button>
    </div>

    <script id="cart-template" type="text/template">
        <% _.each(goods, function(good) { %>
            <tr class="cart-item js-cart-item" data-id="<%= good.id %>">
                <td><%= good.id %></td>
                <td><%- good.name %></td>
                <td><%= good.price %> руб.</td>
                <td>
                    <span 
                        class="cart-item__btn-dec-count js-change-count"
                        title="Уменьшить на 1"
                        data-id="<%= good.id %>"
                        data-delta="-1"
                    >
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                    <span class="js-count"><%= good.count %></span>
                    <span 
                        class="cart-item__btn-inc-count js-change-count"
                        title="Увеличить на 1"
                        data-id="<%= good.id %>"
                        data-delta="1"
                    >
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                </td>
                <td><span class="js-summa"><%= good.count * good.price %></span> руб.</td>
                <td>
                    <span class="cart-item__btn-remove js-remove-from-cart" title="Удалить из корзины" data-id="<%= good.id %>">
                        <span class="glyphicon glyphicon-remove"></span>                                
                    </span>
                </td>
            </tr>
        <% }); %>
    </script>
</body>






<script id="cart-template" type="text/template">
    <% _.each(goods, function(good) { %>
        <tr class="cart-item js-cart-item" data-id="<%= good.id %>">
            <td><%= good.id %></td>
            <td><%- good.name %></td>
            <td><%= good.price %> руб.</td>
            <td>
                <span 
                    class="cart-item__btn-dec-count js-change-count"
                    title="Уменьшить на 1"
                    data-id="<%= good.id %>"
                    data-delta="-1"
                >
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
                <span class="js-count"><%= good.count %></span>
                <span 
                    class="cart-item__btn-inc-count js-change-count"
                    title="Увеличить на 1"
                    data-id="<%= good.id %>"
                    data-delta="1"
                >
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </td>
            <td><span class="js-summa"><%= good.count * good.price %></span> руб.</td>
            <td>
                <span class="cart-item__btn-remove js-remove-from-cart" title="Удалить из корзины" data-id="<%= good.id %>">
                    <span class="glyphicon glyphicon-remove"></span>                                
                </span>
            </td>
        </tr>
    <% }); %>
</script>